.not-logged-in .nav-tabs {
  display: none; }
.not-logged-in .logig-form #block-system-main {
  margin: 0px !important; }
.not-logged-in .logig-form #user-login .login-input {
  margin-bottom: 20px; }
.not-logged-in .logig-form #user-login label {
  display: none; }
.not-logged-in .logig-form #user-login .form-item-name,
.not-logged-in .logig-form #user-login .form-item-pass {
  margin: 0px; }

.page-user-register #block-system-main {
  margin: 0px !important; }
.page-user-register .panel.panel-default {
  border: 0px;
  margin-bottom: 0px; }
.page-user-register #user-register-form .form-submit {
  background-color: #007094;
  border-color: #004759;
  float: right; }

.nav.nav-tabs {
  margin-bottom: 0px; }
