.not-logged-in {

  .nav-tabs {
    display: none;
  }

  .logig-form {

    #block-system-main {
      margin: 0px !important;
    }

    #user-login {

      .login-input {
        margin-bottom: 20px;
      }

      label {
        display: none;
      }

      .form-item-name,
      .form-item-pass {
        margin: 0px;
      }
    }
  }
}

.page-user-register {

  #block-system-main {
    margin: 0px !important;
  }

  .panel.panel-default {
    border: 0px;
    margin-bottom: 0px;
  }

  #user-register-form {

    .form-submit {
      background-color: #007094;
      border-color: #004759;
      float: right; // LTR;
    }
  }
}
